body {
    font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: gradient();
}

button {
    margin: center;
    min-width: 75px;
    max-width: 150px;
    height: 25px;
    border-radius: 10px;
    border-color: #EF0000;
    background-color: white;
    color: #EF0000;
}

button:hover {
    background-color: #EF0000;
    color: white;
}

div {
    text-align: center;
}