body {
    font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #1D00D8;
    background: linear-gradient(90deg, #FFC230 11.2%, #FF7C00 100.2%);
}

button.nav {
    min-width: 75px;
    max-width: 150px;
    height: 25px;
    border-radius: 10px;
    border-color: #1D00D8;
    background-color: transparent;
    color: #1D00D8;
}

button.nav:hover {
    border-color: #00A;
    background-color: #FFC230;
    color: #00A;
}

div.nav, .centered {
    text-align: center;
}

hr {
    border: 3px solid #1D00D8;
}