body {
    font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0000AA;
    background: linear-gradient(109.6deg, #FFC230 11.2%, #FF7C00 100.2%);
}

button {
    margin: center;
    min-width: 75px;
    max-width: 150px;
    height: 25px;
    border-radius: 10px;
    border-color: #1D00D8;
    background-color: transparent;
    color: #1D00D8;
}

button:hover {
    border-color: #0000AA;
    background-color: #FFC230;
    color: #0000AA;
}

div {
    text-align: center;
}