/*This defines the default look of all the text in the website along with the background.*/
body {
    font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #1D00D8;
    background: linear-gradient(90deg, #FFC230 11.2%, #ff7c00 100.2%);
}

/*This is a class only for buttons and I have defined it to change the look of buttons under the "nav" class.*/
button.nav {
    width: 80px;
    height: 40px;
    padding: 0;
    margin: 5px, 0;
    border-width: 0 0 3px;
    border-color: #1D00D8;
    border-style: solid;
    background-color: #ffffff00;
}

/*This changes the buttons colours depending on an action the user makes.
In this instance, it executes when a user hovers over the button*/
button.nav:hover {
    border-color: #00A;
    background-color: #ffffff30;
    border-width: 0 0 5px;
    color: #00A;
}

/*This is for the navigation bar, the id is called index because it is used to open the index.*/
button.index {
    min-width: 40px;
    max-width: 80px;
    min-height: 40px;
    max-height: 80px;
    padding: 2px;
    border-style: none;
    background-color: #ffffff00;
    color: #1D00D8;
}

/*This changes the buttons colours depending on an action the user makes.
In this instance, it executes when a user hovers over the button*/
button.index:hover {
    background-color: #ff0000;
    color: #00A;
}

/*This is a class used to center any text or images.*/
.centered {
    text-align: center;
}

/*This is used to control the thickness of the footer dividing line.*/
hr#footerline {
    border: 3px solid #1D00D8;
}