<!DOCTYPE html>
<html>
    <head>
        <title>Page2</title>
        <link rel="stylesheet" href="/static/css/default-pallet.css">
    </head>

    <body>
        <h1>Page2</h1>
        <p>Page2 page</p>
        <a href="/home"><button>Home</button></a>
        <a href="/about"><button>About</button></a>
        <a href="/page1"><button>Page 1</button></a>
        <a href="/page2"><button>Page 2</button></a>
        <a href="/contact"><button>Contact</button></a>
            
    </body>
</html>